body {
    font-family: Roboto, sans-serif;
    margin: 0 auto;
    max-width: 800px;
    overflow-x: hidden;
}

a {
    color: #0081d1;
}
.dark-theme a {
    color: #26b3ff;
}

#content {
    margin-bottom: 100px;
}



body.dark-theme {
    background-color: #222222;
    color: white;
}

::-moz-focus-inner {
    border: none;
}

a#ribbon {
    display: block;
    position: absolute;
    top: 50px;
    right: -70px;
    color: white;
    text-decoration: none;
    background: #e70000 linear-gradient(rgba(0,0,0,0.03), transparent, rgba(0,0,0,0.03));
    width: 280px;
    text-align: center;
    transition: .3s;
    outline: 1px solid rgba(255,255,255,0.4);
    outline-offset: -3px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.4);
    transform: rotate(45deg);
}
a#ribbon:hover,
a#ribbon:focus {
    background-color: #f07000;
}

a#ribbon svg {
    height: 25px; 
    width: auto;
    margin: 10px;
    vertical-align: middle;
}

#toggle_dark_mode {
    border-radius: 30px;
    width: 75px;
    height: 30px;
    background-color: #eeeeee;
    color: black;
    font-weight: bold;
    font-size: 1em;
    font-family: inherit;
    border: 1px solid #0002;
    opacity: 0.8;
    outline: none;
}

#toggle_dark_mode:hover,
#toggle_dark_mode:focus {
    opacity: 1;
}

.dark-theme #toggle_dark_mode {
    background-color: #333333;
    color: white;
    border: 1px solid #fff2;
}


.al-h-scroll-wrapper {
    transition: .3s;
}

.warning {
    border: 1px solid rgba(0, 0, 0, 0.05);
    background-color: rgba(0, 0, 0, 0.05);
    border-left: 4px solid red;
    padding: 10px;
    transition: .3s;
}

.dark-theme .warning {
    border: 1px solid rgba(255,255,255, 0.05);
    background-color: rgba(255,255,255, 0.05);
    border-left: 4px solid red;
}

#main-nav {
    position: sticky;
    top: 0;
    margin-bottom: 50px;
    z-index: 10;
    font-size: 20px;
    outline: none;
    box-shadow: 0 10px 10px -10px #0006;
}

#main-nav .al-left-sb {
    background: white linear-gradient(90deg, transparent, rgba(0, 0, 0, 0.1));
}
#main-nav .al-right-sb {
    background: white linear-gradient(90deg, rgba(0, 0, 0, 0.1), transparent);
}
#main-nav .al-left-sb:hover,
#main-nav .al-right-sb:hover {
    background-color: #cce9ff;
}

.dark-theme #main-nav .al-left-sb,
.dark-theme #main-nav .al-right-sb {
    background-color: #222222;
}
.dark-theme #main-nav .al-left-sb:hover,
.dark-theme #main-nav .al-right-sb:hover {
    background-color: #0a5365;
}

#main-nav .al-no-scroll-left .al-left-sb:hover,
#main-nav .al-no-scroll-right .al-right-sb:hover {
    background-color: transparent;
}

.dark-theme #main-nav {
    box-shadow: 0 10px 10px -10px black;
}

#main-nav .al-tab {
    border: none;
    padding: 0;
    outline: none;
}

#main-nav .al-tab > a {
    cursor: pointer;
    color: inherit;
    text-decoration: none;
    display: inline-block;
    transform: scale(0.8);
    margin: 0 -7px;
    transition: .3s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#main-nav .al-tab.active {
    box-shadow: inset 0 -4px #008fed;
}
.dark-theme #main-nav .al-tab.active {
    box-shadow: inset 0 -4px #26a5ff;
}

#main-nav .al-tab:hover > a,
#main-nav .al-tab:focus > a,
#main-nav .al-tab.active > a {
    color: #0065b4;
}

.dark-theme #main-nav .al-tab:hover > a,
.dark-theme #main-nav .al-tab:focus > a,
.dark-theme #main-nav .al-tab.active > a {
    color: #65b8ff;
}

#main-nav .al-tab.active > a {
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
    margin: 0 5px;
}

#main-nav .al-tab:first-child {
    margin-left: 10px;
}
#main-nav .al-tab:last-child {
    margin-right: 10px;
}



pre, code {
    font-family: 'Roboto Mono', 'Noto Mono', Hack, Consolas, monospace;
    background-color: #f3f3f3;
    border-radius: 3px;
    transition: .3s;
}
pre {
    background-color: #f3f3f3;
    padding: 7px 10px;
    border-radius: 3px;
    font-size: 90%;
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
}
code {
    font-size: 95%;
    padding: 0 2px;
    color: #590000;
}
.dark-theme pre {
    background-color: #1a1a1a;
}
.dark-theme code {
    background-color: #1a1a1a;
    color: #ffaaaa;
}

span#LC1:before {content: " 1";color: gray; margin-right: 8px}
span#LC2:before {content: " 2";color: gray; margin-right: 8px}
span#LC3:before {content: " 3";color: gray; margin-right: 8px}
span#LC4:before {content: " 4";color: gray; margin-right: 8px}
span#LC5:before {content: " 5";color: gray; margin-right: 8px}
span#LC6:before {content: " 6";color: gray; margin-right: 8px}
span#LC7:before {content: " 7";color: gray; margin-right: 8px}
span#LC8:before {content: " 8";color: gray; margin-right: 8px}
span#LC9:before {content: " 9";color: gray; margin-right: 8px}
span#LC10:before {content: "10";color: gray; margin-right: 8px}
span#LC11:before {content: "11";color: gray; margin-right: 8px}
span#LC12:before {content: "12";color: gray; margin-right: 8px}
span#LC13:before {content: "13";color: gray; margin-right: 8px}
span#LC14:before {content: "14";color: gray; margin-right: 8px}
span#LC15:before {content: "15";color: gray; margin-right: 8px}
span#LC16:before {content: "16";color: gray; margin-right: 8px}
span#LC17:before {content: "17";color: gray; margin-right: 8px}
span#LC18:before {content: "18";color: gray; margin-right: 8px}
span#LC19:before {content: "19";color: gray; margin-right: 8px}
span#LC20:before {content: "20";color: gray; margin-right: 8px}

span#LC1:last-child:before {content: ""; margin-right: 0;}

pre .nt {color: navy}
pre .na {color: teal}
pre .s  {color: #d14}
pre .nx {color:#213444}


.dark-theme pre .c {color:#969896}
.dark-theme pre .err {color:#c66}
.dark-theme pre .k {color:#b294bb}
.dark-theme pre .l {color:#de935f}
.dark-theme pre .n {color:#c5c8c6}
.dark-theme pre .o {color:#8abeb7}
.dark-theme pre .p {color:#c5c8c6}
.dark-theme pre .cm {color:#969896}
.dark-theme pre .cp {color:#969896}
.dark-theme pre .c1 {color:#969896}
.dark-theme pre .cs {color:#969896}
.dark-theme pre .gd {color:#c66}
.dark-theme pre .ge {font-style:italic}
.dark-theme pre .gh {color:#c5c8c6;font-weight:600}
.dark-theme pre .gi {color:#b5bd68}
.dark-theme pre .gp {color:#969896;font-weight:600}
.dark-theme pre .gs {font-weight:600}
.dark-theme pre .gu {color:#8abeb7;font-weight:600}
.dark-theme pre .kc {color:#b294bb}
.dark-theme pre .kd {color:#b294bb}
.dark-theme pre .kn {color:#8abeb7}
.dark-theme pre .kp {color:#b294bb}
.dark-theme pre .kr {color:#b294bb}
.dark-theme pre .kt {color:#f0c674}
.dark-theme pre .ld {color:#b5bd68}
.dark-theme pre .m {color:#de935f}
.dark-theme pre .s {color:#ffff66}
.dark-theme pre .na {color:#9dc5e7}
.dark-theme pre .nb {color:#c5c8c6}
.dark-theme pre .nc {color:#f0c674}
.dark-theme pre .no {color:#c66}
.dark-theme pre .nd {color:#8abeb7}
.dark-theme pre .ni {color:#c5c8c6}
.dark-theme pre .ne {color:#c66}
.dark-theme pre .nf {color:#81a2be}
.dark-theme pre .nl {color:#c5c8c6}
.dark-theme pre .nn {color:#f0c674}
.dark-theme pre .nx {color:#bed8ed}
.dark-theme pre .py {color:#c5c8c6}
.dark-theme pre .nt {color:#00bbff}
.dark-theme pre .nv {color:#c66}
.dark-theme pre .ow {color:#8abeb7}
.dark-theme pre .w {color:#c5c8c6}
.dark-theme pre .mf {color:#de935f}
.dark-theme pre .mh {color:#de935f}
.dark-theme pre .mi {color:#de935f}
.dark-theme pre .mo {color:#de935f}
.dark-theme pre .sb {color:#b5bd68}
.dark-theme pre .sc {color:#c5c8c6}
.dark-theme pre .sd {color:#969896}
.dark-theme pre .s2 {color:#b5bd68}
.dark-theme pre .se {color:#de935f}
.dark-theme pre .sh {color:#b5bd68}
.dark-theme pre .si {color:#de935f}
.dark-theme pre .sx {color:#b5bd68}
.dark-theme pre .sr {color:#b5bd68}
.dark-theme pre .s1 {color:#b5bd68}
.dark-theme pre .ss {color:#b5bd68}
.dark-theme pre .bp {color:#c5c8c6}
.dark-theme pre .vc {color:#c66}
.dark-theme pre .vg {color:#c66}
.dark-theme pre .vi {color:#c66}
.dark-theme pre .il {color:#de935f}