al-toolbar, al-content {
    color: black;
    display: inline-block;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, 'Noto Sans', Helvetica, Arial, Oxygen-Sans, Ubuntu, Cantarell, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

al-toolbar.al-focused {
    border-color: #007cff;
    box-shadow: 0 0 1px rgba(0, 124, 255, 0.67);
}

al-toolbar.al-no-border {
    border-width: 0;
    border-radius: 0;
}

al-toolbar.al-no-border.al-focused {
    box-shadow: none;
    outline: 2px solid rgba(0, 124, 255, 0.5);
    outline-offset: -1px;
}

.al-u-button {
    cursor: default;
    border: none;
    margin: 0;
    padding: 0 10px;
    color: black;
    background-color: #f5f5f5;
    font-weight: normal;
    font-size: 100%;
    transition: color .2s, background-color .2s;
    outline: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.al-u-button:hover,
.al-u-button:focus {
    background-color: #cce9ff;
}

.al-u-button::-moz-focus-inner {
    border: none;
}

.al-h-scroll-wrapper {
    display: block;
    border: 1px solid gray;
    background-color: white;
    overflow: hidden;
    border-radius: 3px;
    height: 24px;
    line-height: 24px;
}

.al-h-scrollable {
    display: table;
    width: 100%;
    border-collapse: collapse;
}

.al-cell {
    display: table-cell;
    white-space: nowrap;
    border: 0 solid #999999;
    border-right-width: 1px;
    line-height: inherit;
    width: 1px;
}

.al-cell:last-child {
    border-right: none;
}

.al-cell.al-scroll {
    width: auto;
    height: inherit;
    overflow: hidden;
    line-height: inherit;
}

.al-scroll-content:focus {
    outline: none;
}

.al-left-sb, .al-right-sb, .al-attached-button {
    white-space: nowrap;
    line-height: inherit;

    -webkit-box-sizing: border-box !important;
    -moz-box-sizing: border-box !important;
    box-sizing: border-box !important;
}

.al-scroll-content {
    display: block;
    vertical-align: top;
    white-space: nowrap;
    overflow-y: hidden;
    overflow-x: scroll;
    width: 100%;
    height: 100em;
    margin-right: -100000000px;
}

.al-h-scroll-wrapper, .al-h-scrollable, .al-cell, .al-scroll-content {
    -webkit-box-sizing: content-box !important;
    -moz-box-sizing: content-box !important;
    box-sizing: content-box !important;
}

.al-tab {
    display: inline-block;
    border-right: 1px solid #cccccc;
    padding: 0 7px;
}

.al-tab:last-child {
    border-right: none;
}

.al-no-scroll-left .al-left-sb,
.al-no-scroll-right .al-right-sb {
    color: gray;
    background-color: #e5e5e5;
}

.al-can-scroll-left .al-scroll {
    box-shadow: inset 11px 0 11px -12px #0006;
}

.al-can-scroll-right .al-scroll {
    box-shadow: inset -11px 0 11px -12px #0006;
}

.al-can-scroll-left.al-can-scroll-right .al-scroll {
    box-shadow: inset -11px 0 11px -12px #0006, inset 11px 0 11px -12px #0006;
}

.al-s-never .al-left-sb,
.al-s-auto  .al-left-sb,
.al-s-never .al-right-sb,
.al-s-auto  .al-right-sb {
    display: none;
}

.al-s-auto .al-can-scroll .al-left-sb,
.al-s-always              .al-left-sb,
.al-s-auto .al-can-scroll .al-right-sb,
.al-s-always              .al-right-sb {
    display: table-cell;
}

@media screen and (max-device-width: 1300px) and (max-device-height: 1300px) {
    .al-touch.al-t-never .al-left-sb,
    .al-touch.al-t-never .al-right-sb,
    .al-touch.al-t-auto  .al-left-sb,
    .al-touch.al-t-auto  .al-right-sb {
        display: none;
    }

    .al-touch.al-t-auto .al-can-scroll .al-left-sb,
    .al-touch.al-t-always              .al-left-sb,
    .al-touch.al-t-auto .al-can-scroll .al-right-sb,
    .al-touch.al-t-always              .al-right-sb {
        display: table-cell;
    }
}

/******************************************** DARK THEME ********************************************/

.dark-theme al-toolbar,
.dark-theme al-content {
    color: white;
}

.dark-theme al-toolbar.al-focused {
    border-color: #00829f;
    box-shadow: 0 0 1px #00829f;
}

.dark-theme al-toolbar.al-no-border.al-focused {
    outline-color: rgba(0, 130, 159, 0.6);
}

.dark-theme .al-u-button {
    color: white;
    background-color: #444444;
}

.dark-theme .al-u-button:hover,
.dark-theme .al-u-button:focus {
    background-color: #0a5365;
}

.dark-theme .al-h-scroll-wrapper {
    border-color: #777777;
    background-color: #333333;
}

.dark-theme .al-cell {
    border-color: #666666;
}

.dark-theme .al-tab {
    border-right-color: #555555;
}

.dark-theme .al-no-scroll-left .al-left-sb,
.dark-theme .al-no-scroll-right .al-right-sb {
    color: #666666;
    background-color: #393939;
}

.dark-theme .al-can-scroll-left .al-scroll {
    box-shadow: inset 11px 0 11px -12px black;
}

.dark-theme .al-can-scroll-right .al-scroll {
    box-shadow: inset -11px 0 11px -12px black;
}

.dark-theme .al-can-scroll-left.al-can-scroll-right .al-scroll {
    box-shadow: inset -11px 0 11px -12px black, inset 11px 0 11px -12px black;
}

